html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* end of css reset */

html, body, main {
    height: 100%;
}

html {
    --background-color: #222;
    background-color: var(--background-color);

    --blue: #2563EB;
    --green: #348939;
    --orange: #FE7E03;
    --red: #9B1D1E;
}

.container {
    --border-thickness: 0.0625em;
    --hover-border-thickness: 0.125em;

    --border-thickness: 0.05em;
    --hover-border-thickness: 0.1em;

    --border-diff: calc(var(--hover-border-thickness) - var(--border-thickness));
    --icon-scale-factor: 1;
    --icon-base-size: 1.5em;

    --current-text-color: #eee;

    --view-box-size: 24;

    font-size: min(8vh, 48px);
    height: 100%;
    display: grid;
    grid-template-columns: auto 8em auto;
    grid-template-rows: auto 1em repeat(4, 2em) auto;
    column-gap: 0.25em;
    row-gap: 0.25em;
    background-color: var(--background-color);
    color: var(--current-text-color);
}

@media screen and (orientation: portrait) {
    .container {
        font-size: min(7.5vw, 72px);
    }
}

.link, .intro {
    grid-column: 2;
}

p.intro {
    grid-row: 2;
    text-align: center;
}

.link {
    background: none;
    display: flex;
    border: var(--border-thickness) solid #686868;
    border-radius: 0.5em;
    align-items: center;
    padding: var(--border-diff);
    padding-left: calc(0.2em + var(--border-diff));
    box-sizing: border-box;
    text-decoration: none;
    --text-color: var(--icon-color);
}

.link:focus,
.link:hover {
    border: var(--hover-border-thickness) solid var(--text-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--text-color), 0px 0px 0.5em 0px var(--text-color);
    padding: 0 0 0 0.20em;
}

.link > p {
    display: inline;
    color: var(--current-text-color);
    margin-left: 0.2em;
}

.link:focus > p,
.link:hover > p {
    color: var(--text-color);
}

.link > svg {
    stroke: #fff;
    fill: none;
    height: calc(var(--icon-base-size) * var(--icon-scale-factor));
    margin: calc((1 - var(--icon-scale-factor)) * var(--icon-base-size) / 2);
}

.link:focus > svg,
.link:hover > svg {
    /* filter: drop-shadow(0 0 0.2em var(--icon-color)); */
    stroke: var(--icon-color);
}

.link > svg > circle,
.link > svg > line,
.link > svg > path {
    stroke-width: calc(0.7 / 24 * var(--view-box-size));
}

.link:focus > svg > path.terminal-blink,
.link:hover > svg > path.terminal-blink {
    animation: blink-opacity 1s infinite;
}

@keyframes blink-opacity {
    0% { opacity: 1}
    50% { opacity: 0 }
    100% { opacity: 1 }
}